<p style="background-color: {{ couleur }}">{{ couleur }}</p>

<a href="{{ path('app_color', {color: 'green'}) }}">Vert</a>
<a href="{{ path('app_color', {color: 'blue'}) }}">Bleu</a>
<a href="{{ path('app_color', {color: 'pink'}) }}">Rose</a>
